<!-- flask extends from base.html -->

{% extends "base.html" %}


{% block content %}


        <!-- div 3 buttons register, login , viewtodos -->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="/register" target="_blank" class="btn btn-primary btn-lg btn-block">Register</a>
                </div>
                <div class="col-md-3">
                    <a href="/login" target="_blank" class="btn btn-primary btn-lg btn-block">Login</a>
                </div>
                <div class="col-md-3">
                    <a href="/listTodos" target="_blank" class="btn btn-primary btn-lg btn-block">View Todos</a>
                </div>
                <div class="col-md-3">
                    <a href="/listBlogs/{{current_user.id}}" target="_blank" class="btn btn-primary btn-lg btn-block">List Blogs</a>
                </div>
            </div>
        </div>

{% endblock content %}